
.normal {
  background-color: #eaa6f9;
  color: rgba(0, 0, 0, 0.526) !important; 
}
.grass {
  background-color: #1a5300;
}
.fire {
  background-color: #ee7f30;
  color: rgba(0, 0, 0, 0.526) !important; 
}
.water {
  background-color: #4d74cf;
  color: rgba(0, 0, 0, 0.526) !important; 
}
.electric {
  background-color: #ffc719;
  color: rgba(0, 0, 0, 0.526) !important; 
}
.ice {
  background-color: #98d5d7;
  color: rgba(0, 0, 0, 0.526) !important; 
}
.ground {
  background-color: #dfbf69;
  color: rgba(0, 0, 0, 0.526) !important; 
}
.flying {
  background-color: #a98ff0;
  color: rgba(0, 0, 0, 0.526) !important; 
}
.poison {
  background-color: #a040a0;
}
.fighting {
  background-color: #bf3029;
}
.psychic {
  background-color: #f65687;
  color: rgba(0, 0, 0, 0.526) !important; 
}
.dark {
  background-color: #725847;
}
.rock {
  background-color: #b8a137;
  color: rgba(0, 0, 0, 0.526) !important; 
}
.bug {
  background-color: #a8b720;
  color: rgba(0, 0, 0, 0.526) !important; 
}
.ghost {
  background-color: #6e5896;
}
.steel {
  background-color: #4f4f5f;
}
.dragon {
  background-color: #0d53ae;
}
.fairy {
  background-color: #f9aec7;
  color: rgba(0, 0, 0, 0.526) !important; 
}


.pokemons{
  display:grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  }


  .pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 30px rgba(52, 52, 52, 0.6);
    -moz-box-shadow: inset 0 0 30px rgba(52, 52, 52, 0.6);
    box-shadow: inset 0 0 30px  rgba(52, 52, 52, 0.6);
  }

  .pokemon:hover{
    cursor: pointer;
    animation: bounce 0.5s linear;
  }
  .pokemon .number {
  color: #000;
  text-align: right;
  opacity: 0.8;
  font-size: .825rem;
  }
  .pokemon .name{
    color: white;
    margin-bottom: 0.25rem;
    font-size: 1.0rem;
    text-transform: capitalize;
  }
  .pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .pokemon .detail .types .type{
    color: white;
    padding: .25rem .5rem;
    margin: .35rem 0;
    border-radius: 1rem;
    font-size: .825rem;
    filter: brightness(1.35);
    text-align: center;
    box-shadow: 6px 5px 11px 0px rgba(0,0,0,0.19);
    -webkit-box-shadow: 6px 5px 11px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 6px 5px 11px 0px rgba(0,0,0,0.19);
  }
  .pokemon .detail img{
      max-width: 100%;
      height: 100px;
      filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7)); 
  }

  .pagination{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 1rem;
  }

 .pagination button { 
      padding: .5rem .5rem;
      margin: .25rem 0;
      font-size: 1rem;
      color: #fff;
      background-color: #6e5896;
      border: none;
      border-radius: 1rem; 
      cursor: pointer;

    }
        
  @media screen and (min-width:393px){
    .pokemons {
    grid-template-columns: 1fr 1fr;
    }
    
  }
  
  @media screen and (min-width:576px){
    .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
    }
    
  }
  
  @media screen and (min-width:992px){
    .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
  }

  